name: floatingpanel
description: Floating panel helps you create easy floating menu which you can drag and drop to any edge of the screen (horizontally).
version: 1.1.3
authors:
  - Akshaye JH
homepage: https://github.com/akshayejh/floating_panel

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
